  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <h3> Permission List</h3> <br/>
        <%= form_tag("/permission", method: "put") do %>
            <% User.where(is_admin: false).each do |user| %>
                <div class="checkbox">
                    <h3><%= user.email%></h3>
                    <% @entity_list.each do |entity| %>
                        <span class="entity"><%= entity %>:</span>
                        <% user_permissions=user.permissions_of(entity) %>
                        <% @permission_list.each do |perm| %>
                            <%= label_tag "perm_#{user.id}_#{entity}_#{perm}",  class: "checkbox-inline" do%>
                            <%= check_box_tag "perm[#{user.id}][#{entity}][#{perm}]", value=true, checked=user.permissions_of(entity).include?(perm.to_s) %>
                                <%= perm %>
                            <% end %>
                        <% end %>
                        <br/>
                    <% end %>
                    
                    <hr/>
                </div>
            <% end %>

            <%= submit_tag("Submit") %>
        <% end %>
    </div>
    <div class="col-md-2">
    </div>
  </div>